.scan-btn {
    all: unset;
    padding: 6px 16px;
    background: rgb(30, 27, 27);
    height: 30px;
    /* text-align: center; */
    justify-content: center;
    width: 120px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid #efdf9f;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
}