.labels-list {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 32, 32);
    color: #6b4e2f;
    /* align-items: center; */
    gap: 10px;
}

.input-label {
    display: flex;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 130px;
    height: 40px;
}

.l-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}