.sidebar {
    background-color:#F1E0C6;
    color: #6b4e2f;
    padding: 20px;
    /* align-items: center; */
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 35px;
}

.s-head{
    display: flex;
    align-items: center;
    justify-content:start;
    gap: 20px;
}

.dash-items {
    color: #6b4e2f;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-weight: 600;
    font-size: 18px;
    gap: 25px;
}
.dash-1{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.content{
    display: flex;
    align-items:center;
    gap:10px;
    width: 100%;
}